@charset "utf-8";
/* CSS Document */
html, body { height: 100%; width: 100%; margin: 0; }
body{
	font:14px Arial, Helvetica, sans-serif;
	background:#CBF1FE;
	color:#444444;
}
a {
	cursor:pointer;
}
a.existFolder{
	cursor:auto
}
#addfile, #addfolder{
	border-radius:10px;
	background-color:#666666;
	padding:10px;
	color:#FFFFFF;
	font-weight:600;
}